/* .products {
  width: 40%;
}

.product {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product button {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.product button:hover {
  background-color: #4338ca;
} */
.products {
  width: 45%;
}

.products h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #0f016a; /* sky blue heading */
  border-left: 5px solid #38bdf8;
  padding-left: 10px;
}

.product {
  background: linear-gradient(135deg, #f0f9ff, #e0f2fe);
  padding: 16px 18px;
  margin-bottom: 15px;
  border-radius: 14px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 8px 18px rgba(2, 132, 199, 0.15);
}

.product span:first-child {
  font-weight: 600;
  color: #0f172a;
}

.product span {
  color: #0347c6;
}

.product button {
  background: linear-gradient(135deg, #90cde7, #1356dd);
  color: white;
  border: none;
  padding: 6px 16px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 500;
}

.product button:hover {
  transform: scale(1.05);
}
